body{
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 12px;
    background-color: #0C2D48;
    
}

/*navigate bar div*/
.navigateBar{
    height: 100px;
    padding: 12px;

}

/*navigatebar links*/
#navlinks a{
    font-weight: bold;
    color: #057DCD;
    margin-left: 30px;
    margin-right: 30px;
}

#navlinks a:hover{
    color: hotpink;
}


/*two divs of main body*/
.myDetails{   
    display: inline-block;
    height: 500px;
    background-color:#0C2D48 ;
    
}

#textPart{
    padding-top: 20px;
    height: auto;  
    margin: 10px;
}


/*social media icons*/

.socialMedia{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 20px
}

.socialM{
    width: 50px;
    height:50px;
    margin-right: 30px;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    border-radius: 2px;
}

.socialM:hover{
    transform: scale(1.5);
}

.socialM img{
    width: 50px;
    height: 50px;
    padding: 5px;

}

.socialM #linked{
    margin-left: 35px;
    margin-right: 35px;
    padding: 5px;

}

.socialM #fb{
    margin-left: 35px;
    margin-right: 35px;
    padding: 5px;

}

.socialM #twitt{
    margin-left: 35px;
    margin-right: 35px;
}
/*Quick links,resume*/

.ql button{
    display: inline-block;
    width: 200px;
    height: 40px;
}

.ql{
    display: inline-block;

}

#btn{
    text-align: center;
    height: 50px;
}

.quickLinks{
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

/*Service Provide for my clients*/

.secondPart #h1{
    font-size: 50px;
    color: white;
    margin-top: 40px;
    margin-bottom: 35px;
}

.wrapper{
    height: 300px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    margin: 5px;
}


.wrapper::-webkit-scrollbar{
    width: 0;
}


.wrapper .serviceCard{
    min-width: 280px;
    height: 280px;
    text-align: left;
    background-color: #0C2D48;
    display: inline-block;

    font-size: 25px;
    border-radius: 5%;
    
}

.serviceCard h3:hover{

}

.wrapper .serviceCard:hover{
    color:black;
    background-color: white;
    
}

.iconDiv{
    color: white;
    background-color:#0C2D48 ;
}

.serviceCard .icon:hover{
    color: #FEDE00;
}

